
.card-turnos {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .card-header {
    font-size: 35px;
  }
  
  .card-body {
    font-size: 20px;
  }
  
  .card-title {
    font-size: 22px;
  }
  
  .card-text {
    font-size: 13px;
  }
  
  .btn-primary {
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .carrusel-turnos {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
  }
  
  .card-turnos {
    margin: 20px;
  }