footer {
    background-color: beige;
    height: 150px;
    background-image: url(../../images/foto-encabezado.jpg);
    background-size: cover;
    background-position: center;

}

footer .container {
    padding-top: 30px;
}